<!-- Diet Section -->
    <!-- About Section -->
    <section id="diet">
        <div class="container">
        	<div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diet</h2>
                    <ul class="timeline">
                    	<li class="timeline-inverted">
                    		<div class="timeline-image">
                    			<img class="img-circle img-responsive center-image" src="img/diet/diet.jpg" alt="Diet">
                    		</div>
                    	</li>
                    </ul>
                    
                    <p>
                    Nutritious home made meals are made for all children.  The meals consist of a balanced diet of vegetables, fruits, breads, milk and cereals.  All meals and diets are approved via Infants Nutrition & Care Associates (I.N.C.A).  Special diets can be accommodated for a child with allergies or requires special diet.
                    </p><br />
                    <h5 class="text-muted">Sample Meal</h5>
                </div>
                <div class="col-md-4">
	                <ul class="timeline">
	                	<li class="timeline-inverted">
	                		<div class="timeline-image">
	                			<h4><br>Breakfast</h4>
	                		</div>
	                	</li>
	                </ul>
	                Oatmeal<br />
	                Cut apples <br />
	                Cup of milk
                </div>
                <div class="col-md-4">
	                <ul class="timeline">
	                	<li class="timeline-inverted">
	                		<div class="timeline-image">
	                			<h4><br>Lunch</h4>
	                		</div>
	                	</li>
	                </ul>
	                Chicken<br />
	                Mixed vegetables <br />
	                Rice <br />
	                Fruit for dessert <br />
	                Cup of milk
                </div>
                <div class="col-md-4">
	                	                <ul class="timeline">
	                	<li class="timeline-inverted">
	                		<div class="timeline-image">
	                			<h4><br>Snack</h4>
	                		</div>
	                	</li>
	                </ul>
	                Yogurt<br />
	                Vanilla waffers <br />
	                Cup of apple juice
                </div>
            </div>
        </div>
    </section>






<!-- <section id="diet" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Diet</h2>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fa fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section> -->