<!-- Program Section -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program</h2>
                <h3 class="section-subheading text-muted">CURRICULUM</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/program/infant.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>INFANT</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <ul class="curriculum_list">
                                        <li>Infants/toddlers will nap and rest as needed.</li>
                                        <li>I will keep your child on a familiar routine to help them adapt to their new environment.</li>
                                        <li>Toddlers will be read to daily and also offered introduction to shapes, colors, singing, art, language, music &amp; physical activity and outside play are just some of the behaviors that support development during this critical stage.</li>
                                        <li>Our Baby Steps Infant/toddler program helps babies grow, gain mobility, and develop intellectual and social skills for a lifetime of success through loving interaction.</li>
                                        <li>Toddlers are encouraged to develop friendships, self-esteem, and curiosity.</li>
                                    </ul>      
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/program/toddler.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2 YEARS OLD</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <ul class="curriculum_list">
                                        <li>Daily routines will include circle time, art, music &amp; movement and large motor development, with inside and outside playtime (weather permitting).</li>
                                        <li>I also focus on cooperation (sharing and taking turns) and manners.</li>
                                        <li>Our balanced approach in the classroom engages young minds with a blend of music, art, and movement, as well as the early education fundamentals they’ll need as they continue on to preschool.</li>
                                        <li>Children can choose from independent activities in the classroom such as language arts, math and manipulatives, blocks, science, dramatic play, and art learning centers. I will also implement small-group activities, focusing on skill-building, cooperation and observe their behavior.</li>
                                        <li>As two-year-olds begin to exert their increasing independence, I will continue to open their eyes to a world of learning, sharing, exploring, personal hygiene, and self-expression.</li>
                                        <li>Children will participate in quiet activities as well. After a child has had a quiet rest after lunch, they can visit learning centers or participate in individual or small-group activities until most of the children have awakened.</li>
                                        <li>Taught alphabet and number via songs.</li>
                                        <li>Each week a new theme is introduced</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/program/child.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>3 YEARS OLD +</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <ul class="curriculum_list">
                                        <li>Children will participate in hands-on-learning which includes circle time, simple math, science, art, music, with motor development, nursery rhymes and fairy tales.</li>
                                        <li>I provide an environment that will encourage children to develop social skills (working together, taking turns, conflict resolution, etc).</li>
                                        <li>Participate in cooperating as a group.</li>
                                        <li>Understanding social concepts such as “please” and “thank you”.</li>
                                        <li>Learning new vocabulary and repeating words and short sentence.</li>
                                        <li>Indentifying numbers and counting, both in English and Spanish.</li>
                                        <li>Using all the senses to investigate the world around them, like exploring the physical properties of water, sand, wind dirt, and paper.</li>
                                        <li>Recognizing and writing letters and words.</li>
                                        <li>Participating in read-aloud exercises.</li>
                                        <li>Riding tricycles, tossing balls, dancing, and jumping.</li>
                                        <li>Working on fine-motor skills like pouring, cutting, drawing, and stringing objects.</li>
                                        <li>I will work with the children on practicing self-help skills such as hand and face washing plus dressing and tying shoes.</li>
                                        <li>Most children nap or rest quietly. As children wake from rest time, they can select from a variety of quiet choices, such as manipulatives, drawing, books, or puzzles until other children have awakened.</li>
                                        <li>Children can choose from independent activities in the classroom such as language arts, math and manipulatives, blocks, science, dramatic play, and art learning centers. I will also implement small-group activities, focusing on skill-building, cooperation and observe their behavior.</li>
                                        <li>Children are given chores to clean up simple areas, such as class library books, listening center, and manipulatives centers.</li>
                                        <li>Lots of effort is emphasized for our preschoolers to gain more self-esteem, and have that confidence by providing them activities to help children become problem solvers and lifelong learners.</li>
                                        <li>Practice writting letters, number and the childs name.</li>
                                        <li>Are taught sign language and Spanish basics.</li>
                                        <li>Each week a new theme is introduced</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>