<!-- Welcome Section -->
<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Welcome</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="img/welcome.jpg">
                </span>
                <h4 class="service-heading">Our Daycare</h4>
                <p class="text-muted">Aracely's Day Care is a licensed childcare facility that provides a nurturing home environment and fosters the skills necessary for lifelong learning. Children learn through creative play, socialization and a developmentally appropriate curriculum. Aracely's Day Care is a home away from home where children feel safe and loved.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="img/ourKids.jpg">
                </span>
                <h4 class="service-heading">Our Kids</h4>
                <p class="text-muted">Aracely's Day Care serves children ages six weeks through preschool (4-5 years old). To better meet the needs of each individual child, there is a limited number of children accepted within each age group. Please call us at (801) 393-8550 for availability.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="img/aboutUs.jpg">
                </span>
                <h4 class="service-heading">About Us</h4>
                <p class="text-muted">With over 30 years of professional experience and early childhood development training, Aracely Possié has a passion for working with young children and is an excellent childcare provider. Aracely believes that quality childcare involves not only meeting the basic needs of the child but also creating a safe, clean and happy environment where children can thrive socially, emotionally and academically. As a mother of 6 children (and grandmother to 16), Aracely founded her own childcare center to meet the needs of families who share these same values.</p>
            </div>
        </div>
    </div>
</section>